:root{

    --primary: #010101;
    --second: #202020;
    --text: #ffffff;

    --text-sign: #ffffff;

    --others: #1919b9;
    --others-hover: #11115a;
    --light: rgba(228, 214, 214, 0.562);
    --light-opacity: rgba(228, 214, 214, 0.2);

}

.light{

    --primary: #fff;
    --second: #c4c0c0;
    --text: #000;
    --text-sign: #ffffff;

    --others: #1919b9;
    --others-hover: #11115a;
    --light: rgba(32, 31, 31, 0.562);
    --light-opacity: rgba(32, 31, 31, .2);

}

.light button{
    animation: out .2s ease forwards;
}